@charset "UTF-8";
body{
margin: 0;
padding: 0;	
}
.menu{
position: fixed;
width: 240px;
height: 100%;
background-color: #0059ab;
}
input.login {
        background: url(image/login.PNG) no-repeat;
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: 1px solid gray;
		position: absolute;
		top: 100px;
      }
 input.account {
   background: url(image/account.PNG) no-repeat;
   cursor: pointer;
   width: 120px;
   height: 40px;
   border: 1px solid gray;
   position: absolute;
	top: 100px;
	left: 120px;
 }
 input.bbs1 {
   background: url(image/bbs1.PNG) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 70px;
   position: absolute;
	top: 240px;
 }
 .techbbs_hjh {
   background: url(image/bbs2.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 70px;
   position: absolute;
	top: 320px;
 }
 input.bbs3 {
   background: url(image/bbs3.PNG) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 70px;
   position: absolute;
	top: 400px;
 }
 input.bbs4 {
   background: url(image/bbs4.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 70px;
   position: absolute;
	top: 480px;
 }
 input.bbs5 {
   background: url(image/bbs5.png) no-repeat;
   border: none;
   cursor: pointer;
   width: 240px;
   height: 70px;
   position: absolute;
	top: 560px;
 }
 .wrap{
 width:800px;
 position: relative;
 top: 30px;
 left: 300px;
 }
 .partition1{
 background-color: yellow;
 	position: absolute;
 	top: 100px;
 	left: 20px;
 	width: 375px;
 	height: 300px;
 	
 }
  .partition2{
 background-color: yellow;
position: absolute;
top: 100px;
right:0;
width: 375px;
height: 300px;
 	
 }
   .partition3{
 background-color: yellow;
position: absolute;
top: 420px;
left: 20px;
width: 450px;
height: 600px;
 }
   .partition4{
 background-color: yellow;
position: absolute;
top: 420px;
right: 0;
width: 300px;
height: 600px;
 }