<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
version="3.0">
  <display-name>okh</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>user.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileController</servlet-name>
    <servlet-class>user.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileController</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  
<!-- 사는얘기 게시판 -->
  <servlet>
    <servlet-name>LifeBbsController</servlet-name>
    <servlet-class>lifeBbs.LifeBbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeBbsController</servlet-name>
    <url-pattern>/LifeBbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeBbssReplyController</servlet-name>
    <servlet-class>lifeBbs.LifeBbssReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeBbssReplyController</servlet-name>
    <url-pattern>/LifeBbssReply</url-pattern>
  </servlet-mapping>
  
  
  
   <!-- 기술게시판파일업로드 -->
  <servlet>
    <servlet-name>PdsController</servlet-name>
    <servlet-class>techpds.PdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdsController</servlet-name>
    <url-pattern>/PdsController</url-pattern>
  </servlet-mapping>
    <!-- 기술게시판파일다운 -->
    <servlet>
  	<servlet-name>techfiledown</servlet-name>
  	<servlet-class>techpds.FileDownloader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>techfiledown</servlet-name>
  	<url-pattern>/techfiledown</url-pattern>
  </servlet-mapping>
     <!-- 기술게시판 -->
  <servlet>
    <servlet-name>TechbbsController</servlet-name>
    <servlet-class>techbbs.TechbbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechbbsController</servlet-name>
    <url-pattern>/TechbbsController</url-pattern>
  </servlet-mapping>
   <!-- 기술답글게시판 -->
  <servlet>
    <servlet-name>TechRepbbsController</servlet-name>
    <servlet-class>techreplebbs.TechRepbbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechRepbbsController</servlet-name>
    <url-pattern>/TechRepbbsController</url-pattern>
  </servlet-mapping>
     <!-- 좋아요스크랩처리 -->
  <servlet>
    <servlet-name>LikeScrapController</servlet-name>
    <servlet-class>likescrap.LikeScrapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeScrapController</servlet-name>
    <url-pattern>/LikeScrapController</url-pattern>
  </servlet-mapping>
  <!-- qnabbs 게시판 -->
  <servlet>
  	<servlet-name>qnaServlet</servlet-name>
  	<servlet-class>qna.QnaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>qnaServlet</servlet-name>
  	<url-pattern>/qnaServlet</url-pattern>
  </servlet-mapping>
  
   		<!-- 커뮤니티일정게시판 -->
  <servlet>
    <servlet-name>CommunityControl</servlet-name>
    <servlet-class>studysrc.CommunityControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityControl</servlet-name>
    <url-pattern>/CommunityControl</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- BBS5 jobs 컨트롤러  -->
  <!-- 설정 부분. 선언 부분. -->
  <!-- 20180310 맨 아래 jobs 부분 -->
  <!-- 기본 화면 부분. 계속 컨트롤러 추가하면서 사용하면 된다. -->
  <servlet>
  	<servlet-name>jobs</servlet-name> <!-- 이름 -->
  	<servlet-class>jobs_BBS5.Bbs5jobsControllerServlet</servlet-class> <!-- 이쪽으로 가라 이 의미. -->
  </servlet>

  <servlet-mapping>
  	<servlet-name>jobs</servlet-name> <!-- 이름 -->
  	<url-pattern>/jobs</url-pattern>
  </servlet-mapping>
  
    
  <!-- BBSHWCodingController 컨트롤. 모든거 다 처리 하는.-->
  <!-- <servlet> 기존코드 망한것.180319
  	<servlet-name>BBSHWCodingController</servlet-name>
  	<servlet-class>jobs_BBS5.Bbs5jobsHWCodingControllerServlet</servlet-class>
  </servlet> -->
  <servlet>
  	<servlet-name>BBSHWCodingController</servlet-name>
  	<servlet-class>jobs_BBS5.newbbs5HWCodingControllerServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
  	<servlet-name>BBSHWCodingController</servlet-name>
  	<url-pattern>/BBSHWCodingController</url-pattern>  	
  </servlet-mapping>
  <!-- HW 답글 게시판 -->
  <servlet>
    <servlet-name>HWRepbbsController</servlet-name>
    <servlet-class>jobs_BBS5.HWRepbbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HWRepbbsController</servlet-name>
    <url-pattern>/HWRepbbsController</url-pattern>
  </servlet-mapping>
  <!-- HW좋아요 스크랩처리 -->
  <servlet>
    <servlet-name>HWLikeScrapController</servlet-name>
    <servlet-class>jobs_BBS5.HWLikeScrapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HWLikeScrapController</servlet-name>
    <url-pattern>/HWLikeScrapController</url-pattern>
  </servlet-mapping>
  <!-- HW게시판 파일 다운 -->
    <servlet>
  	<servlet-name>hwfiledown</servlet-name>
  	<servlet-class>jobs_BBS5.FileDownloader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hwfiledown</servlet-name>
  	<url-pattern>/hwfiledown</url-pattern>
  </servlet-mapping>
  
  
  
  
  <!-- BBSboardController 일반 게시판 컨트롤 -->
  <servlet>
  	<servlet-name>BBSboardController</servlet-name>
  	<servlet-class>jobs_BBS5.Bbs5jobsBoardControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BBSboardController</servlet-name>
  	<url-pattern>/BBSboardController</url-pattern>
  </servlet-mapping>
  
  
  <!-- BBSmaterialsController 컨트롤 -->
  <servlet>
  	<servlet-name>BBSmaterialsController</servlet-name>
  	<servlet-class>jobs_BBS5.Bbs5jobsMaterialsControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BBSmaterialsController</servlet-name>
  	<url-pattern>/BBSmaterialsController</url-pattern>
  	<!-- 예전에 하다가 망한 코드 -->
  	<!-- <url-pattern>*.BBSmaterialsController</url-pattern> -->
  </servlet-mapping>
  
  <!-- 처음 화면 가는 서블릿. -->
  <servlet>
  	<servlet-name>mainJSP</servlet-name>
  	<servlet-class>jobs_BBS5.mainJSPServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>mainJSP</servlet-name>
  	<url-pattern>/mainJSP</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>